EVAL "for _,k in ipairs(redis.call('KEYS','PORT|*')) do redis.call('DEL',k) end" 0
{{- range $i, $_ := .PCIAddrs}}
HSET "PORT|Ethernet{{mul $i $.PortStride}}" admin_status up alias Ethernet{{mul $i $.PortStride}} index {{$i}} lanes {{mul $i $.PortStride}} speed {{$.PortSpeed}}
{{- end}}
