EVAL "for _,k in ipairs(redis.call('KEYS','PORT|*')) do redis.call('DEL',k) end" 0
{{- range $i, $p := .Ports}}
HSET "PORT|{{$p.Name}}" admin_status up alias {{$p.Name}} index {{$i}} lanes {{$i}} speed {{$.PortSpeed}}
{{- end}}
